#navigator .gwt-Hyperlink a {
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	color: #333333;
	padding-top: 0.5em;
}

#header {
	background-image: url("/bilder/wallhaven.jpg");
	width: 100%;
}

#header h1 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

#navigator {
	width: 180px;
	float: left;
	background-color: #dddddd;
	min-height: calc(100vh - 82px);
}

#rootElement>table {
	width: 100%;
}

body, html {
	padding: 0 !important;
	margin: 0 !important;
	min-height: 100vh;
}

.page-headline {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
}

#createContactButton {
	border: none;
    padding: 0;
    background: none;
    width: 48px;
    height: 48px;
}

#content {
	margin:1em;
}

#kontakt-list {
	border-collapse: collapse;
}


#kontakt-list tr:first-child td {
	background-color: #ceffce;
}

#kontakt-list td {
	border: 1px solid lightgray;
}

#expander {
	height: calc(100vh - 200px);
}

.navi-button {
	height: 32px;
    width: 150px;
    margin-top: 8px;

}

p {	
	text-indent: 50px;	
	text-align: justify;	
	letter-spacing: 3px;	
}

a {	
	text-decoration: none;	
	color: #008CBA;	
}

div {	
	border: 1px solid gray;	
	padding: 8px;	
}

h1 {	
	text-align: center;	
	text-transform: uppercase;	
	background-color: rgb(51, 51, 51);	
	text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px	
		10px, rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,	
		rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,	
		rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;	
	
 } 