#navigator .gwt-Hyperlink a{
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	color: #333333;
	padding-top:0.5em;
}

#header {
	background-image: url("/bilder/ks.jpg");
	width:100%;
	
	
}

#header h1 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

#navigator {
	width: 180px;
	float: left;
	background-color: #dddddd;
	min-height: calc(100vh - 82px);
}

#rootElement > table {
	width: 100%;
}



body, html {
	
	padding: 0 !important;
	margin: 0 !important;
	min-height: 100vh;
}