#navigator .gwt-Hyperlink a{
	font-size: 2em;
	color: #333333;
	padding-top:0.5em;
}

#header {
	background-color:  #88fc86;
	width:100%;
}

#header h1 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

#navigator {
	width: 180px;
	float: left;
	background-color: #dddddd;
	min-height: calc(100vh - 82px);
}

#rootElement > table {
	width: 100%;
}



body, html {
	padding: 0 !important;
	margin: 0 !important;
	min-height: 100vh;
}

.page-headline {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
}

#createContactButton {
	border: none;
    padding: 0;
    background: none;
    width: 48px;
    height: 48px;
}

#content {
	margin:1em;
}

#kontakt-list {
	border-collapse: collapse;
}


#kontakt-list tr:first-child td {
	background-color: #ceffce;
}

#kontakt-list td {
	border: 1px solid lightgray;
}